
body {
  font-family: @default-font, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

h1:extend(.fw-700, .sm-fs-large) {
  color: @text-color;
  margin-bottom: @smedium;
}

h2:extend(.fw-900, .sm-fs-slarge, .mb-medium) {
  color: @text-color;
}

h3:extend(.fw-400, .sm-fs-mmedium, .mb-medium) {
  color: @text-color;
}

h4:extend(.fw-700, .fs-medium, .mb-small, .tt-uppercase) {
  color: @text-color;
}

h5:extend(.fw-700, .fs-smedium, .mb-smedium, .tt-uppercase) {
  color: @text-color;
}

p:extend(.fs-smedium, .fw-400) {
  color: @text-color;
}

i {
  font-family: @default-font-italic;
}

footer.ant-layout-footer {
  background-color: @white;
  padding: 0;
}

.ant-layout-header.bg-color-white {
  background-color: @white;
  height: 80px;

  .ant-menu {
    line-height: 80px;
    border-bottom: none;
    width: 100%;
    display: flex;

    .ant-menu-item {
      color: @gray-500;
      font-weight: 500;
      border-bottom: none;
      display: flex;
      align-items: center;

      &:hover {
        color: @text-color;
      }

      .f-icon {
        margin-left: @xsmall;
      }
    }
  }
}

.ant-btn {
  font-weight: 500;

  &.ant-btn-default {
    background-color: @gray-100;
    border: none;

    &:hover {
      background-color: @gray-200;
      color: @text-color;
    }
  }
  
  &.ant-btn-ghost {
    border-color: @gray-200;
  
    &:hover {
      border-color: @gray-300;
      color: @text-color;
    }
  }  
}

.ant-menu-sub > .ant-menu-item a {
  display: flex;
  align-items: center;
}

.d-select.ant-select {
  .ant-select-selector {
    border-color: @gray-200;
    border-radius: @small;
    height: @slarge;
    display: flex;
    align-items: center;
    padding: 0 @smedium;

    &:hover {
      border-color: @gray-300;
    }
    
    .ant-select-selection-search {
      height: @slarge;
    }
  }

  .ant-select-arrow {
    top: 50%;
    right: @smedium;
  }
}

.ant-select-dropdown {
  .ant-select-item-option-selected {
    background-color: @white;
    color: @pink-500;
    font-weight: 500;
  }
}