
// COLORS
@text-color: #0D0C22;
@light-gray: #f3f3f4;
@gray: #919191;
@border-gray: #E7E7E9;
@white: #FFFFFF;

// TYPOGRAPHY
@default-font: 'Poppins';
@default-font-italic: 'Poppins Italic';

// SIZES
@xsmall: 4px;
@small: 8px;
@smedium: 16px;
@medium: 20px;
@mmedium: 24px;
@lmedium: 32px;
@slarge: 40px;
@large: 48px;
@llarge: 64px;
@ularge: 80px;